.container{
    background-color: #202c33;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #202c33;
    color: rgba(255, 255, 255, 0.719);
    padding: 0.15%;
}

.profileInfo{
    display: flex;
    padding: 2%;
    padding-bottom: 0%;
}

.profileInfo:hover{
    cursor: pointer;
}

.profileIcon{
    padding: 3%;
    padding-bottom: 0%;
}

.name{
    padding-top: 4%;
    padding-left: 15%;
    padding-bottom: 0;
    font-weight: bold;
}

.icons{
    display: flex;
    justify-content: flex-end;
    width: 55%;
    padding-top: 0%;
    padding-right: 0%;
}

.eachIcon:hover{
    cursor: pointer;
}

.eachIcon{
    padding: 4%;
    padding-right: 5%;
}

.second_container{
    background-image: url('./wallpaper.jpg');
    height: 78%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.scroll{
    overflow-y: auto;
}

.second_subcontainer{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding-top: 20px;
    padding-right: 8%;
}

.scroll::-webkit-scrollbar {
    width: 8px; 
}
  
.span::-webkit-scrollbar-track {
    background-color: rgb(56, 56, 56);
}
  
.scroll::-webkit-scrollbar-thumb {
    background-color: rgba(78, 78, 78, 0.92);
    border: 0px solid rgb(56, 56, 56);
}

.chat_container{
    max-width: 50%;
    word-wrap: break-word;
    background-color: #005c4b;
    border-radius: 10px;
    padding: 6px 7px 8px 9px;
    box-sizing: border-box;
    box-shadow: 0 1px 0.5px rgba(11,20,26,.13);
    border-top-right-radius: 0;
    margin-bottom: 10px;
    text-align: left;
}

.chat_bubble{
    color:aliceblue;
}

.hour{
    color: #FFFFFF99;
    font-size: 12px;
    font-weight: 400;
    padding-left: 8px;
    text-align: right;
    position: relative;
    top: 5px;
}

.check_icon{
    zoom: 70%;
    position: relative;
    top: 5px;
    padding-left: 5px;
}

.third_container{
    background-color: #202c33;
    display: flex;
    color: rgba(144, 164, 179, 0.719);
    align-items: center;
    padding-top: 1.5%;
    padding-bottom: 0%;
    padding-left: 3%;
    padding-right: 0%;
}

div::-webkit-scrollbar {
    width: 8px; 
}
  
.div::-webkit-scrollbar-track {
    background-color: rgb(56, 56, 56);
}
  
div::-webkit-scrollbar-thumb {
    background-color: rgba(78, 78, 78, 0.92);
    border: 0px solid rgb(56, 56, 56);
}

.icons_chat{
    width: 10%;
}

.each_icon_chat{
    padding-right: 15%;
}

.input_container{
    padding-right: 5%;
    width: 80%;
}

.input{
    display: flex;
    width: 100%;
    height: 39px;
    padding-left: 3%;
    background-color: #2d3941;
    border: none;
    border-radius: 9px;
    outline: none;
    word-wrap: break-word;
    color: rgba(255, 255, 255, 0.719);
}

.input::placeholder{
    padding-left: 0%;
    color: rgba(144, 164, 179, 0.719);
}

.input:focus{
    color: rgb(255, 255, 255);
}

.each_icon_chat:hover{
    cursor: pointer;
}